<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admin-property/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/admin-property/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin-property/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="index2.html"><b>Elearing</b>Admin</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <div>
        <span id="loginError" style="font-weight:bold; color:red;"></span>
        <div class="form-group">
          <select id="admin_type" class="form-control select2" required>
            <option value="">-----------Select Admin Type----------</option>
            <option value="super" selected >Super Admin</option>
            <!--<option value="staff">Staff Admin</option>-->
            <!--<option value="others">Others</option>-->
          </select>
        </div>

        <div class="input-group mb-3">
          <input type="text" id="username" class="form-control" placeholder="Username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" id="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button id="login" type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </div>

      <!-- <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div> -->
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="register.html" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="/admin-property/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/admin-property/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin-property/dist/js/adminlte.min.js"></script>

<script>
  $(document).ready(function(){
    $("#login").on('click',function(){
      var admin = $("#admin_type").val();
      var user = $("#username").val().trim();
      var pass = $("#password").val().trim();
      var isValid = /^[A-z0-9]*$/.test(user);
      var length = user.length;
      if(admin != "")
      {
        if(user != "")
        {
          if (isValid && (length > 4) && (length < 20))
          {
            if(pass != "")
            {
              $.post("/admin/login",{admin:admin,username:user,pass:pass},function(data){
                //console.log(data);
                if(data === 'success') {
                    window.location.href="/admin/dashboard";
                }else{
                  $("#loginError").html('Username or Password did not match');
                  $("#password").val('');
                }
              });

            }else{
              $("#loginError").html('Please Enter your Password');
            }
          }else{
            $("#loginError").html('Please Enter valid Username');
          }
        }else{
          $("#loginError").html('Please Enter Username');
        }
      }else{
        $("#loginError").html('Please Select Admin Type');
      }
    });
  });
</script>
</body>
</html>
